body {
    background: white;
    margin: 0;
    padding: 0;
}

nav div {
display: inline;
}

nav div .links li {
    display: inline;
}

nav  div .logo-written {
    background: black;
}

nav .logo-symbol {
    background: black;
    display: inline-block;
    height: 75px;
    width: 75px;
}